<?xml version="1.0" encoding="utf-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  backupGlobals="false"
  cacheResultFile="tools/.phpunit.result.cache"
  colors="true"
>
  <coverage cacheDirectory="tmp/coverage-cache" processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="html">
      <directory>tests/Xml</directory>
      <directory>tests/Dom</directory>
      <directory>tests/Html</directory>
      <directory>tests/Html5Lib</directory>
    </testsuite>
    <testsuite name="css-syntax">
      <directory>tests/Css/Syntax</directory>
    </testsuite>
    <testsuite name="css-selectors">
      <directory>tests/Css/Selectors/Parser</directory>
      <directory>tests/Css/Selectors/Query</directory>
      <directory>tests/WebPlatformTests/Css/Selectors</directory>
    </testsuite>
  </testsuites>
</phpunit>
