<?xml version="1.0" encoding="utf-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  backupGlobals="false"
  cacheResultFile="tools/.phpunit.result.cache"
  colors="true"
  stopOnError="true"
  executionOrder="depends,defects"
>
  <coverage cacheDirectory="tmp/coverage-cache" processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory suffix=".php">src/DOM/Exception</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="base">
      <directory>tests/Encoding</directory>
      <directory>tests/XML</directory>
    </testsuite>
    <testsuite name="dom">
      <directory>tests/DOM</directory>
      <directory>tests/WebPlatformTests/DOM</directory>
      <directory>tests/WebPlatformTests/DOMParsing</directory>
      <directory>tests/WebPlatformTests/SanitizerApi</directory>
    </testsuite>
    <testsuite name="html">
      <directory>tests/HTML</directory>
      <directory>tests/HTML5Lib</directory>
      <file>tests/SoupletteTest.php</file>
    </testsuite>
    <testsuite name="css-syntax">
      <directory>tests/CSS/Syntax</directory>
    </testsuite>
    <testsuite name="css-selectors">
      <directory>tests/CSS/Selectors/Parser</directory>
      <directory>tests/CSS/Selectors/Node</directory>
      <directory>tests/WebPlatformTests/CSS/Selectors</directory>
    </testsuite>
  </testsuites>
</phpunit>
